{{! docs: https://mustache.github.io/mustache.5.html }}
{{! docs: https://github.com/janl/mustache.js#partials }}
# {{title}}

<!-- USER_CHANGES_START -->
{{#userChanges?}}
{{{markdown}}}
{{/userChanges?}}
{{^userChanges?}}
<!-- 
    Want to add your own sections to the README?
    Make sure to stay between the "USER_CHANGES_START" comment
    and the "USER_CHANGES_END"  comment!
-->
{{/userChanges?}}
<!-- USER_CHANGES_END -->

<!-- Following segment is generated and any changed to it will be overwritten -->

{{> synopsis}}

{{> code_example}}

{{> motivation}}

{{> installation}}

{{> api_reference}}

{{> tests}}

{{> contributors}}

{{> license}}
