{{! spec: https://mustache.github.io/mustache.5.html }}
{{! docs: https://github.com/janl/mustache.js#partials }}
{{! This syntax marks a mustache comment, and can safely be removed if you want to :) }}
# {{title}}

{{> synopsis}}

{{> code_example}}

{{> motivation}}

{{> installation}}

{{> api_reference}}

{{> tests}}

{{> contributors}}

{{> license}}
