{{! spec: https://mustache.github.io/mustache.5.html }}
{{! docs: https://github.com/janl/mustache.js#partials }}
{{! This syntax (with an exclamation point) marks a mustache comment, and can safely be removed if wanted to :) }}
# {{title}}

## Synopsis
{{> synopsis}}

## Code Example
{{> code_example}}

## Motivation
{{> motivation}}

## Installation
{{> installation}}

## API Reference
{{> api_reference}}

## Tests
{{> tests}}

## Contributions
{{> contributions}}

## License
{{> license}}
